@using FishingMania.Web.ViewModels.Catch;
@using System.Security.Claims;
@model CatchDetailsViewModel
@inject UserManager<ApplicationUser> UserManager

<div class="container my-5 text-center">
    @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.ApplicationUserId)
    {
        <div class="d-flex my-5 bg-primary rounded-pill">
            <h3 class="text-white font-weight-bold m-5 mr-auto">As a owner of this post you can: </h3>
            <a class="btn m-5 ms-0 bg-white text-primary ms-auto" asp-controller="Catches" asp-action="Update" asp-route-id="@Model.Id">Update</a>
            <a class="btn m-5 ms-auto bg-white text-primary" asp-controller="Catches" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </div>
    }
    <div class="row bg-primary rounded-5 text-white display-6">
        <div class="col-md-6 rounded-3 my-5">
            <img src="@Model.Image.URL" alt="Fish Image" class="img-fluid rounded-5 w-100 my-4">
            <div class="text-center bg-dark bg-opacity-75 font-weight-bold rounded-1">
                <h2>@Model.Description</h2>
            </div>
        </div>
        <div class="col-md-6 text-center bg-dark bg-opacity-75 font-weight-bold my-5 rounded-5">
            <div class="my-4">
                <span class="font-weight-bold">Fish Weight:</span> @Math.Round(Model.FishWeight,3) kg.
            </div>
            <div class="my-4 mb-0">
                <span class="font-weight-bold">Fish Species:</span>
                <img class="col-md-6 rounded-5" src="@Model.FishSpecies.Image.URL" />
            </div>
            <p class="h5 text-center offset-6 col-md-5">@Model.FishSpecies.Name</p>
            <div class="my-4">
                <span class="font-weight-bold">Fishing Spot:</span>
                <img class="col-md-6 rounded-5" src="@Model.FishingSpot.Image.URL" />
                <a class="btn btn-secondary text-primary mt-3" asp-controller="FishingSpots" asp-action="Details" asp-route-id="@Model.FishingSpotId">Go check the fishing spot!</a>
            </div>
        </div>
    </div>
    <div class="row col-md-12 my-5 align-items-center bg-primary text-white rounded-5">
        <h2 class="mb-4">Post Information</h2>
        <div class="col-md-4 d-flex flex-row m-auto">
            <p>Posted by: <i class="fa-solid fa-user my-auto mx-5"></i>@Model.ApplicationUser.UserName</p>
        </div>
        <div class="col-md-4 d-flex flex-row m-auto">
            <p>Votes:</p>
            <a>
                <i class="fa-solid fa-thumbs-up my-auto mx-5" asp-action></i>
            </a>
            @*<p>@Model.Votes.Count</p>*@
            <a>
                <i class="fa-solid fa-thumbs-down my-auto mx-5"></i>
            </a>
            @*<p>@Model.Votes.Count</p>*@
        </div>
        <div class="col-md-4 d-flex flex-row m-auto mb-4">
            <a class="btn bg-white text-primary rounded-5 m-auto" asp-action="Report" asp-controller="Catches">Report Post</a>
        </div>
    </div>
    <div class="row col-md-12 bg-primary text-white rounded-5">

        <h2>Comments:</h2>

        @if (this.User.Identity.IsAuthenticated)
        {
            <form id="commentForm">
                <p>Write a comment:</p>
                <div class="d-flex flex-row text-center">
                    <textarea id="commentContent" rows="4" class="col-md-10 rounded-5"></textarea>
                    <button type="submit" class="btn bg-white text-primary m-auto">Submit Comment</button>
                </div>
                <span id="commentLengthValidationSpan" class="text-danger"></span>
            </form>
        }
        else
        {
            <p>please login if you want to comment on posts</p>
            <a class="nav-link btn my-auto ms-auto m-3 bg-white text-primary" asp-area="Identity" asp-page="/Account/Login"><strong>Login</strong></a>
        }
        <div id="commentsSection">
            @foreach (var currentComment in Model.Comments)
            {
                <partial name="~/Views/Shared/Comments/_CommentPartialView.cshtml" for="@currentComment" />
            }
        </div>
    </div>

</div>

@if (this.User.Identity.IsAuthenticated)
{
    <script>
        $(document).ready(function () {
            $('#commentForm').submit(function (event) {
                event.preventDefault();

                var content = $('#commentContent').val();

                var minContentLength = 15;
                var maxContentLength = 500;

                if (content.length < minContentLength) {
                    $('#commentLengthValidationSpan').text('Please enter at least ' + minContentLength + ' characters.');
                    return;
                } else if (content.length > maxContentLength) {
                    $('#commentLengthValidationSpan').text('Please enter no more than ' + maxContentLength + ' characters.');
                    return;
                }
                else {
                    $('#commentLengthValidationSpan').empty();
                }

                var commentContent = $('#commentContent').val();
                var commentData = {
                    content: commentContent,
                    applicationUserId: `@User.FindFirstValue(ClaimTypes.NameIdentifier).ToString()`,
                    entityType: @Convert.ToInt32(EntityWithCommentsType.Catch),
                    entityTypeId: @Model.Id,
                };

                $('#commentContent').val('');

                $.ajax({
                    url: '/api/Comments', // Replace with the actual URL for your ApiController
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(commentData),
                    success: function (comment) {
                        $('#commentsSection').prepend(comment);
                    },
                    error: function (xhr, status, error) {
                        alert("Unexpected error while commenting this post!");
                    }
                });
            });
        });
    </script>
}