@using FishingMania.Web.ViewModels.Catch;
@using System.Security.Claims;
@model CatchDetailsViewModel
@inject UserManager<ApplicationUser> UserManager

<div class="container my-5 text-center">
    @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.ApplicationUserId)
    {
        <div class="d-flex my-5 bg-primary rounded-pill">
            <h3 class="text-white font-weight-bold m-5 mr-auto">As a owner of this post you can: </h3>
            <a class="btn m-5 ms-0 bg-white text-primary ms-auto" asp-controller="Catches" asp-action="Update" asp-route-id="@Model.Id">Update</a>
            <a class="btn m-5 ms-auto bg-white text-primary" asp-controller="Catches" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </div>
    }
    <div class="row bg-primary rounded-5 text-white display-6">
        <div class="col-md-6 rounded-3 my-5">
            <img src="@Model.Image.URL" alt="Fish Image" class="img-fluid rounded-5 w-100 my-4">
            <div class="text-center bg-dark bg-opacity-75 font-weight-bold rounded-1">
                <h2>@Model.Description</h2>
            </div>
        </div>
        <div class="col-md-6 text-center bg-dark bg-opacity-75 font-weight-bold my-5 rounded-5">
            <div class="my-4">
                <span class="font-weight-bold">Fish Weight:</span> @Math.Round(Model.FishWeight,3) kg.
            </div>
            <div class="my-4">
                <span class="font-weight-bold">Fish Species:</span>
                <img class="col-md-6 rounded-5" src="@Model.FishSpecies.Image.URL" />
            </div>
            <div class="my-4">
                <span class="font-weight-bold">Fishing Spot:</span>
                <img class="col-md-6 rounded-5" src="@Model.FishingSpot.Image.URL" />
                <a class="btn btn-secondary text-primary mt-3" asp-controller="FishingSpots" asp-action="Details" asp-route-id="@Model.FishingSpotId">Go to check the fishing spot!</a>
            </div>
        </div>
    </div>
</div>
