@using FishingMania.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootswatch.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom/catches.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom/spots.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom/store.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom/home.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e4c03e5f23.js" crossorigin="anonymous" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container">

                <img src="~/resources/Logo.svg" style="width:5%;">
                <a class="navbar-brand text-white font-weight-bold fs-4" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse fs-5">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="All">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Catches" asp-action="All">Catches</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-controller="FishingSpots" asp-action="All">
                                Fishing spots
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item nav-link text-primary" asp-area="" asp-controller="FishingSpots" asp-action="All"><strong>All</strong></a>
                                <a class="dropdown-item nav-link text-primary" asp-area="" asp-controller="FishingSpots" asp-action="FishingSpotsByType" asp-route-enumValue="@FishingSpotType.Reservoir"><strong>Reservoirs</strong></a>
                                <a class="dropdown-item nav-link text-primary" asp-area="" asp-controller="FishingSpots" asp-action="FishingSpotsByType" asp-route-enumValue="@FishingSpotType.Swamp"><strong>Swamps</strong></a>
                                <a class="dropdown-item nav-link text-primary" asp-area="" asp-controller="FishingSpots" asp-action="FishingSpotsByType" asp-route-enumValue="@FishingSpotType.Lake"><strong>Lakes</strong></a>
                                <a class="dropdown-item nav-link text-primary" asp-area="" asp-controller="FishingSpots" asp-action="FishingSpotsByType" asp-route-enumValue="@FishingSpotType.River"><strong>Rivers</strong></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - Daniel Stefanov
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-override.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
