@model IEnumerable<FishingMania.Data.Models.Catch>

@{
    ViewData["Title"] = "Index";
}


<div class="col-md-4 offset-4 bg-primary text-white text-center rounded-pill d-flex my-5">
    <p class="h2 mx-auto my-4 text-center">Catches</p>
</div>

<div class="d-flex flex-row bg-primary rounded-pill my-5 col-md-8 offset-2">

    <form method="get" id="searchForm" asp-area="Administration" asp-controller="Catches" asp-action="Index" autocomplete="off" class="my-5 col-md-12 d-flex flex-row">
        <input class="form-control col-md-5 mx-4" type="text" id="searchQuery" name="searchQuery" placeholder="Search catch">
        <button type="submit" class="btn bg-white text-primary col-md-5 mx-4">Search Catch</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FishWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FishSpecies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FishingSpot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FishWeight) kg.
                </td>
                <td>
                    <img src="@item.Image.URL" style="height:140px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FishSpecies.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FishingSpot.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    <a class="btn bg-primary text-white mt-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn bg-primary text-white mt-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
